# -- Python Flask ---

/build/
/dist/*
/var/*
/temp/*
/.idea/
/node_modules/
/.web-server-pid
/venv/*
/PyMongoVue.egg-info/*
.egg*
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# -- NPM and Yarn Package Managers -------------------
yarn-error.log


# -- Editors -----------------------------------------

# sublimetext
/*.sublime-project
*.sublime-workspace

# -- Operating Systems ------------------------------

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
!.gitignore
!.bowerrc
!.circleci

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes