# -- Python Flask ---

/build/*
/dist/*
/var/*
/src/__pycache__/*
/temp/*
/.idea
/node_modules/
/.web-server-pid
/venv/*
/PyMongoVue.egg-info/*
.egg*
.env

# -- NPM and Yarn Package Managers -------------------
yarn-error.log


# -- Editors -----------------------------------------

# sublimetext
/*.sublime-project
*.sublime-workspace

# -- Operating Systems ------------------------------

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
!.gitignore
!.bowerrc
!.circleci

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes